---
const { t } = Astro.props;
---

<footer class="mt-0 pb-3 md:mt-5">
  <p class="text-md text-center text-gray-800 dark:text-gray-300">
    {t.footer.inspired}
    <a href="https://porfolio.dev" target="_blank" class="text-yellow-400">
      {' '}porfolio.dev
    </a>
    {t.footer.of} Midudev
  </p>
</footer>
