---
import i18next from 'i18next'
---

<footer class="mt-0 md:mt-5 pb-3">
    <p class="text-gray-800 dark:text-gray-300 text-md text-center">
        {i18next.language === "en" ? "Inspired in" : "Inspirado en"}
        <a href="https://porfolio.dev" target="_blank" class="text-yellow-400">
            {" "}porfolio.dev
        </a>
        {i18next.language === "en" ? "of" : "de"} Midudev
    </p>
</footer>