<footer class="mt-0 md:mt-5 pb-3">
    <p class="text-gray-800 dark:text-gray-300 text-md text-center">
        Inspired in
        <a href="https://porfolio.dev" target="_blank" class="text-yellow-400">
            {" "}porfolio.dev
        </a>
        {" "}of Midudev
    </p>
</footer>