---
import Language from '@/components/icons/Language.astro';

interface Props {
  currentLang: string;
}

interface LanguagesData {
  name: string;
  code: string;
  route: string;
}

const LANGUAGES: LanguagesData[] = [
  { name: 'Español', code: 'es', route: '/es' },
  { name: 'English', code: 'en', route: '/en' },
];

const { currentLang } = Astro.props;
---

<div class="relative mr-1 ml-1 text-gray-700 dark:text-white">
  <button
    transition:persist
    id="language-toggle-btn"
    class="flex appearance-none border-none transition hover:scale-125"
  >
    <span class="sr-only">Select language</span>
    <Language class="size-5 transition-all" />
  </button>
  <div
    transition:persist
    id="languages-menu"
    class="absolute top-6 right-0 hidden min-w-[8rem] scale-80 rounded-md border border-gray-100 bg-white/90 p-1 text-lg shadow-[0_3px_10px_rgb(0,0,0,0.2)] backdrop-blur-md dark:border-gray-500/20 dark:bg-gray-900/90"
  >
    <ul>
      {
        LANGUAGES.map(language => (
          <li class="cursor-default rounded-sm px-2 py-1.5 hover:bg-neutral-400/40 dark:hover:bg-gray-500/50">
            <a
              href={language.route}
              class={`flex w-full ${currentLang === language.code ? 'text-yellow-500' : ''}`}
            >
              {language.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<script>
  const langaugeToggleButton = document.getElementById('language-toggle-btn');
  const langaugesMenu = document.getElementById('languages-menu');

  langaugeToggleButton?.addEventListener('click', e => {
    e.stopPropagation();
    if (langaugesMenu?.classList.contains('hidden')) {
      langaugesMenu?.classList.remove('hidden');
    } else {
      langaugesMenu?.classList.add('hidden');
    }
  });

  // Close the menu if clicked outside
  document.addEventListener('click', e => {
    if (!langaugesMenu || !langaugeToggleButton) return;
    if (!langaugesMenu.classList.contains('hidden')) {
      const target = e.target as Node;
      if (
        !langaugesMenu.contains(target) &&
        !langaugeToggleButton.contains(target)
      ) {
        langaugesMenu.classList.add('hidden');
      }
    }
  });
</script>
