---
import UserIcon from "@/components/icons/User.astro";
---

<section id='about' class="scroll-m-20 pb-36 w-full lg:mx-auto container lg:max-w-4xl">
    <h2 class='text-gray-900 dark:text-white text-3xl font-bold mb-6 flex items-center'>
        <span class="mr-5">
            <UserIcon />
        </span>
        About me
    </h2>
    <div class='mt-2 gap-5 flex flex-col md:flex-row items-center'>
        <div>
            <p class='font-medium text-gray-800 dark:text-gray-300'>I started coding at 15, and since then, I've been learning several programming languages by myself. Nowadays, I am studying a<span class='text-yellow-500 dark:text-yellow-200'> Bachelor Degree in Computer Science and Engineering.</span></p>
            <p class='mt-5 font-medium text-gray-800 dark:text-gray-300'>I am fluent in classics like Java and C, although I am more specialized in Python and JavaScript, since I focus my work in web development and machine learning. I also create native apps for Android and IOS.</p>
            <p class='mt-5 font-medium text-gray-800 dark:text-gray-300'>My goal is to become a fullstack developer after graduating, and to be able to make a living with coding.
            </p>
        </div>
    </div>
</section>