---
import ContactForm from '@/components/ContactForm.astro';
import Envelope from "@/components/icons/Envelope.astro";
import Phone from "@/components/icons/Phone.astro";
import Location from "@/components/icons/Location.astro";
import Instagram from "@/components/logos/Instagram.astro";
import Linkedin from "@/components/logos/Linkedin.astro";
import StackOverflow from "@/components/logos/StackOverflow.astro";
import { t } from 'i18next';
---

<section id="contact" class="container mx-auto py-8 max-w-6xl flex flex-col md:flex-row gap-8 scroll-m-20 pb-10 w-full lg:mx-auto lg:max-w-4xl">
    <div class="w-full md:w-2/3">
        <h2 class="text-gray-900 dark:text-white text-3xl font-bold mb-6 flex items-center">
            <span class="mr-5">
                <Envelope size={30} />
            </span>
            {t("contact.title")}
        </h2>
        <ContactForm />
    </div>

    <div class="w-full md:w-1/3 p-6 rounded-lg">
        <img src="/images/profile.webp" alt="Profile" class="w-24 h-24 rounded-full object-cover mb-4">
        <h5 class="font-semibold text-lg text-gray-700 dark:text-gray-100 mb-2">{t("contact.details.title")}</h5>
        <a href="mailto:ldelvillarvazquez@gmail.com" target="_blank" class="text-gray-900 dark:text-white flex items-center hover:underline mb-1">
            <span class="mr-2">
                <Envelope size={20} />
            </span>
            {t("contact.details.email")}
        </a>
        <p class="text-gray-900 dark:text-white flex items-center mb-1">
            <span class="mr-2">
                <Phone />
            </span>
            {t("contact.details.phone")}
        </p>
        <p class="text-gray-900 dark:text-white flex items-center">
            <span class="mr-2">
                <Location />
            </span>
            {t("contact.details.location")}
        </p>
        
        <h5 class="font-semibold text-lg text-gray-700 dark:text-gray-100 mb-2 mt-6">{t("contact.socials.title")}</h5>
        <a href="https://instagram.com/lucasdvv_" target="_blank" class="text-gray-900 dark:text-white flex items-center hover:underline mb-1">
            <span class="mr-2">
                <Instagram />
            </span>
            {t("contact.socials.instagram")}
        </a>
        <a href="https://www.linkedin.com/in/lucas-del-villar-v%C3%A1zquez-b7986a29a/" target="_blank" class="text-gray-900 dark:text-white flex items-center hover:underline mb-1">
            <span class="mr-2">
                <Linkedin />
            </span>
            {t("contact.socials.linkedin")}
        </a>
        <a href="https://stackoverflow.com/users/23496866/ldelvillar" target="_blank" class="text-gray-900 dark:text-white flex items-center hover:underline">
            <span class="mr-2">
                <StackOverflow />
            </span>
            {t("contact.socials.stackoverflow")}
        </a>
    </div>
</section>
