---
import Calendar from "@/components/icons/Calendar.astro";
import TimelineItem from "@/components/TimelineItem.astro";
import { t } from 'i18next';

interface TimelineItemsData {
    date: string;
    title: string;
    description: string;
    link?: string;
}

const timelineItems: TimelineItemsData[] = [
    {
        date: t("timeline.currently.date"),
        title: t("timeline.currently.title"),
        description: t("timeline.currently.description"),
        link: "https://github.com/ldelvillar",
    },
    {
        date: t("timeline.september_2022.date"),
        title: t("timeline.september_2022.title"),
        description: t("timeline.september_2022.description"),
    },
    {
        date: t("timeline.2019.date"),
        title: t("timeline.2019.title"),
        description: t("timeline.2019.description"),
    }
];
---

<section id='experience' class="scroll-m-20 w-full pb-24 lg:mx-auto container lg:max-w-4xl md:max-w-2xl">
    <div class='text-gray-900 dark:text-white flex flex-row items-center gap-5'>
        <Calendar />
        <h2 class='text-3xl font-bold'>{t("experience.title")}</h2>
    </div>
    <ol class="relative border-s border-gray-200 dark:border-gray-700 mt-10 ml-3">
        {timelineItems.map(item => (
            <li>
                <TimelineItem
                    date={item.date}
                    title={item.title}
                    description={item.description}
                    link={item.link}
                />
            </li>
        ))}
    </ol>
</section>
