---
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';
import ProjectCard from '@/components/ProjectCard.astro';
import Code from '@/components/icons/Code.astro';
import AstroIcon from '@/components/logos/AstroIcon.astro';
import NextJS from '@/components/logos/NextJS.astro';
import Firebase from '@/components/logos/Firebase.astro';
import Tailwind from '@/components/logos/Tailwind.astro';
import Node from '@/components/logos/Node.astro';
import Express from '@/components/logos/Express.astro';
import MySQL from '@/components/logos/MySQL.astro';
import GCP from '@/components/logos/GCP.astro';
import Python from '@/components/logos/Python.astro';

const { t } = Astro.props;

interface ProjectCardsData {
  image: string;
  title: string;
  technologies: {
    icon: AstroComponentFactory;
    name: string;
    bgcolor: string;
  }[];
  description: string;
  github: string;
  preview?: string;
}

const projectCards: ProjectCardsData[] = [
  {
    image: '/images/snap-notes.webp',
    title: t.projects['notes_app'].title,
    technologies: [
      { icon: AstroIcon, name: 'Astro', bgcolor: 'bg-[#43008f]' },
      { icon: NextJS, name: 'Next.js', bgcolor: 'bg-black' },
      { icon: Firebase, name: 'Firebase', bgcolor: 'bg-amber-700' },
      { icon: Tailwind, name: 'Tailwind CSS', bgcolor: 'bg-[#003159]' },
    ],
    description: t.projects['notes_app'].description,
    github: 'https://github.com/ldelvillar/snap-notes',
    preview: 'https://snap-notes.vercel.app/',
  },
  {
    image: '/images/movies-api.webp',
    title: t.projects['movies-api'].title,
    technologies: [
      { icon: Node, name: 'Node.js', bgcolor: 'bg-green-900' },
      { icon: Express, name: 'Express.js', bgcolor: 'bg-slate-800' },
      { icon: MySQL, name: 'MySQL', bgcolor: 'bg-[#003159]' },
      { icon: GCP, name: 'GCP', bgcolor: 'bg-[#003159]' },
    ],
    description: t.projects['movies-api'].description,
    github: 'https://github.com/ldelvillar/movies-api',
    preview: 'https://movies-api-production-ead1.up.railway.app/movies',
  },
  {
    image: '/images/pyxel.webp',
    title: t.projects['1942_game'].title,
    technologies: [{ icon: Python, name: 'Python', bgcolor: 'bg-[#003159]' }],
    description: t.projects['1942_game'].description,
    github: 'https://github.com/ldelvillar/1942',
  },
];
---

<section id="projects" class="mx-auto max-w-5xl scroll-m-20 py-16 sm:px-4">
  <h2
    class="mb-6 flex items-center text-3xl font-bold text-gray-900 dark:text-white"
  >
    <span class="mr-5">
      <Code />
    </span>
    {t.projects.title}
  </h2>
  <div class="mt-5 flex flex-col gap-16">
    {projectCards.map(project => <ProjectCard {...project} />)}
  </div>
</section>
