---
import Header from "@/components/Header.astro";
import Hero from "@/sections/Hero.astro";
import Layout from "../../layouts/Layout.astro";
import About from "@/sections/About.astro";
import Experience from "@/sections/Experience.astro";
import Projects from "@/sections/Projects.astro";
import TechStack from "@/sections/TechStack";
import Footer from "@/components/Footer.astro";
import Contact from "@/sections/Contact.astro";
import { t, changeLanguage } from "i18next";

changeLanguage("es");
---

<Layout title={t("site.title")}>
	<Header />
	<main class="mx-5 md:mx-10 lg:mx-48 2xl:mx-64">
		<Hero />
		<Experience />	
		<Projects />
		<TechStack client:load />
		<About />
		<Contact />
	</main>
	<Footer />
</Layout>

