---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
    	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    	<link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
	</head>
	<body class="bg-gray-50 dark:bg-gray-950
    bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))]
    dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">
		<slot />
	</body>
</html>
<style is:global>
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	html {
		scroll-behavior: smooth;
		font-family: "Onest", system-ui, -apple-system
	}
	/* Scrollbar */
	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}

	::-webkit-scrollbar-track {
		background: #ffffff;
	}

	html.dark ::-webkit-scrollbar-track {
		background: #232121;
	}

	::-webkit-scrollbar-thumb {
		background: #facc15;
		border-radius: 10px;
	}

	::-webkit-scrollbar-thumb:hover {
		background: #ffe479;
	}

	/* Selected text */
	::selection {
		background-color: #b100d4;
		color: #fff;
	}
	/* Theme toggle */
	/* The switch - the box around the slider */
	#theme-toggle-button {
		font-size: 17px;
		position: relative;
		display: flex;
		width: 3rem;
		cursor: pointer;
	}

	/* Hide default HTML checkbox */
	#toggle {
		position: absolute;
		inset: 0;
		opacity: 0;
	}

	#container,
	#patches,
	#stars,
	#button,
	#sun,
	#moon,
	#cloud {
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 0.25s;
	}

	/* night sky background */
	#toggle:checked + svg #container {
		fill: #2b4360;
	}

	/* move button to right when checked */
	#toggle:checked + svg #button {
		transform: translate(28px, 2.333px);
	}

	/* show/hide sun and moon based on checkbox state */
	#sun {
		opacity: 1;
	}

	#toggle:checked + svg #sun {
		opacity: 0;
	}

	#moon {
		opacity: 0;
	}

	#toggle:checked + svg #moon {
		opacity: 1;
	}

	/* show or hide background items on checkbox state */
	#cloud {
		opacity: 1;
	}

	#toggle:checked + svg #cloud {
		opacity: 0;
	}

	#stars {
		opacity: 0;
	}

	#toggle:checked + svg #stars {
		opacity: 1;
	}
</style>
